.hidden {
  display: none;
}

.App {
  background-color: black;
  min-height: 100%;
  padding-bottom: 50px;
  /*height: 100vh;*/
  /*padding-top: 150px;*/
}
.App-center {
  text-align: center;
}

a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: #E5007D;
}
.container-vertical {
  height: 100%;
}
.content-vertical {
  width: 100%;
  /*margin: 150px 0;*/
  /*height: 300px;*/
}
