.hidden {
  display: none;
}
#App {
  min-height: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
}
#App-content {
  margin: auto;
  flex-grow: 1;
}

/*.hidden {
  display: none;
}

.App {
  background-color: black;
  min-height: 100%;
}
.App-center {
  text-align: center;
}

a {
  text-decoration: none;
  color: white;
  outline: none;
}
a:hover {
  text-decoration: none;
  color: #E5007D;
}
.container-vertical {
  height: 100%;
}
.content-vertical {
  width: 100%;
}
.paddingForGIT {
  padding-bottom: 50px;
}
.feed {
  font-size: 0.9em;
}
.feed > a {
  color: #444;
}
.feed > a:hover {
  color: rgb(43, 201, 175);
  text-decoration: none;
}*/
