.Artist {
  margin-bottom: 20px;
}
.coverPhoto--hovered {
  /*background-color: #E5007D;*/
}
.panel {
  /*height: 250px;*/
  /*text-align: center;
  margin-bottom: 30px;*/
}
.Artist-panelContent {
  background-color: #E5007D;
  margin: -1px;
  /*text-align: center;*/
  /*height: 100%;*/
  /*width: 200px;*/
  /*margin: auto;*/
  /*padding: 0 0 10px 10px;*/
  /*position: relative;*/
}
.Artist-name {
  font-size: 1.8em;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  text-align: left;
  margin-bottom: 0px;
}
.Artist-album {
  font-size: 1em;
  color: white;
  text-transform: uppercase;
  /*font-weight: bold;*/
  text-align: left;
}
.Artist-taskBy--box {
  position: absolute;
  bottom: 0;
  left:0;
  width: 100%;
  text-align: left;
}
.Artist-taskBy {
  text-align: left;
  display: inline-block;
  margin: 10px;
  padding: 0 3px;
  background-color: black;
  text-transform: uppercase;
  color: #E5007D;
  font-size: 0.9em;
}
