

/*.Artist {
  margin-bottom: 20px;
}
.Artist-panelContent {
  background-color: #E5007D;
  margin: -1px;
}
.Artist-name {
  font-size: 1.3em;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  text-align: left;
  margin-bottom: 0px;
}
.Artist-album {
  font-size: 1em;
  color: white;
  text-transform: uppercase;
  text-align: left;
}
.Artist-icons {
  text-align: left;
  margin-top: 5px;
}
.Artist-icon {
  margin-right: 10px;
  color: white;
}
.Artist-icon:hover {
  color: black;
}
.Artist-taskBy--box {
  position: absolute;
  bottom: 0;
  left:0;
  width: 100%;
  text-align: left;
}
.Artist-taskBy {
  text-align: left;
  display: inline-block;
  margin: 10px;
  padding: 0 3px;
  background-color: black;
  text-transform: uppercase;
  color: #E5007D;
  font-size: 0.9em;
}*/
