.coverPhoto--hovered {
  /*background-color: #E5007D;*/
}
.panel {
  /*height: 250px;*/
  /*text-align: center;
  margin-bottom: 30px;*/
}
.Artist-panelContent {
  background-color: #E5007D;
  margin-left: 2.3vw;
  /*text-align: center;*/
  /*height: 100%;*/
  /*width: 200px;*/
  /*margin: auto;*/
  /*padding: 0 0 10px 10px;*/
}
.name {
  font-size: 1.5em;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}
.skills {

}
.contact {

}
