.Equipment__text--catname {
  color: black;
  background-color: #E5007D;
  display: inline-block;
  margin: 0;
  text-transform: uppercase;
  padding: 0 4px 0 2px;
  cursor: pointer;
}
.Equipment__drawer {
  /*margin: 0 0 15px 0;*/
  height: auto;
  position: relative;
  visibility: visible;
  overflow: hidden;
  opacity: 1;
  max-height: 780px;
  transition: max-height 1s ease-in, opacity 1s;
}
.Equipment__drawer--hidden {
  /*padding: 0 0 15px 0;*/
  max-height: 0;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 1s, max-height 1s ease-out, opacity 1s;
}
.Equipment__drawer:last-child, .Equipment__drawer--hidden:last-child {
  margin-bottom: 5px;
}
.Equipment__drawer-element {
  color: #E5007D;
  text-transform: uppercase;
}

/*.iconWrapper {
  position: relative;
  margin-bottom: 20px;
}
.iconText {
}
.dropdown {
  position: absolute;
  bottom: 100%;
  padding: 20px;
}
.dropdownWindow {
  background-color: white;

}
.listElemDropdown {

}*/
