@keyframes GetInTouch-in {
  0%   {
    height: 0px;
  }
  100% {
    height: 50px;
  }
}
@keyframes GetInTouch-out {
  0%   {
    height: 50px;
  }
  100% {
    height: 0px;
  }
}
.GetInTouch {
  position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  background-color: #E5007D;
  font-size: 24px;
  line-height: 50px;
  cursor: pointer;
  text-align: center;

  animation: GetInTouch-in 2s;

  height: 50px;
  /*transition: height 1s;*/
}
.GetInTouch-hidden {
  position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  background-color: #E5007D;
  font-size: 24px;
  line-height: 50px;
  cursor: pointer;
  text-align: center;

  animation: GetInTouch-out 1s;

  height: 0px;
  /*transition: height 1s;*/
}
.link {
  color: white;
  font-weight: bold;
}
.link:hover {
  text-decoration: none;
  color: black;
}


/*.anim_GetInTouch-appear {
  height: 0px;
}

.anim_GetInTouch-appear.anim_GetInTouch-appear-active {
  height: 50px;
  transition: height 1s ease-in;
}*/



/*.example-enter {
  height: 0px;
}

.example-enter.example-enter-active {
  height: 50px;
  transition: height 1000ms ease-in;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 1000ms ease-in;
}
.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity 1s ease-in;
}*/
