.TopNav {
  /*height: 20%;*/
  /*float: left;*/
  margin-bottom: 20px;
}
.flex-text {
  display: flex;
  justify-content: center;
}
@media (max-width: 450px) {
  .flex-text {
    flex-direction: column;
  }
}
.TopNav-logo-wrapper {
  display: block;
  height: 50px;
  margin: 0 0 10px 0;
}
.TopNav-logo {
  display: inline-block;
  margin: 10px;
  font-size: 1em;
  height: 50px;
}
.menuItem-wrapper--wide {
  width: 100%;
}
.menuItem {
  display: inline-block;
  margin: 10px;
  font-size: 1em;
  width: 120px;
}
.focus {
  display: inline-block;
  font-size: 1.3em;
  color: #E5007D;
}
